.progress-bar {
    width: 300px; 
    margin: auto; 
    margin-top: 100px;
    background-color: #ddd;
    border-radius: 6px;
    height: 15px;
}
.progress {
    width: 0;
    border-radius: 6px;
    height: 15px;
    text-align: right;
    position: relative;
}
.progress span {
    font-size: 14px;
    display: inline-block;
    position: absolute;
    top: 0px; 
    right: 10px;
    color: white;

}